h1{
    color:blue;
}
body {
    background-color: rgb(188, 127, 12); 
  }
  p{
    font-weight:bold;
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style:italic;
    color:rgb(8, 3, 1)
}

.Highlight{
    font-style:Bold;
    color:rgb(248, 244, 242)
}

.football{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(4, 9, 8);
    Text size: 100px;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    border: 5px solid black;
    margin: 50px;
    padding: 10px;

   

}
Ul{
    list-style-position: inside;
}
ol{
    list-style-position: inside;
}